<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>kámen nůžky papír</title>
</head>
<body>


</body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kámen Nůžky Papír</h1>
    <h2>Hráč</h2>{{hrac1}}<br>
    <h2>Bot</h2>{{hrac2}}<br>
    <h2>{{vyhra}}</h2>
    <a href="/">hrát znovu</a>
    <span class="statistika1">výhry hráče:{{vyhry[0]}}</span>
    <span class="statistika2">výhry bota:{{vyhry[1]}}</span>
    <span class="statistika3">remízy:{{vyhry[2]}}</span>
    <span class="statistika4">celkové hry:{{vyhry[3]}}</span>
</body>
</html>